* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    font-family: Arial, Tahoma, serif;
    font-size: 1em;
}

html { background: antiquewhite;}
#main {
    background: antiquewhite;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head {
    background: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;

}


#left, #right {
    width: 20%;
    height: 100vh;
    background-color: inherit;
    position: fixed;
    top: 50px;

    /*border: 1px solid black;*/
}

#left {
    float: left;
}

#right {
    float: right;
    right: 0px;
}


#content {
    margin-left: 25%;
    width: 50%;
    min-height: 1500px;
    float: left;
    margin-top: 100px;
    right: 280px;
    background: inherit;

    /*border: 1px solid black;*/
}

#head > div {
    position: relative;
    width: 33%;
    height: 50px;
    float: left;
}

.head1 li,.head2 li, .head3 li{
    list-style: none;
    margin: 0px;
    padding:17.5px;
    height: 45px;
}
.head3 li {
    float: right;
    width: 15px;
}
.head1 li {
    float: left;
    width: 10px;
}


.head2 li {
    float: left;
    width: 20%;
}


#ul_left li{
    list-style: none;
    width:100%;
    height: 50px;
    padding:0 20px;
    line-height: 50px;
    cursor:pointer;
}

#ul_left li a{
    text-decoration:none;
    color: black;
}
